@import url('https://fonts.googleapis.com/css?family=Asap|Lato|Nunito|Roboto');
@import url('https://fonts.googleapis.com/css?family=Pacifico');

@font-face {
    font-family: "BillabongW00-Regular";
    src: url(instagram_font.woff);
}

body, html {
    background-color: #B8B8B8;
    margin: 0;
    height: 100%;
    font-family: 'Asap', sans-serif;
    text-shadow: 1px 1px 5px #606060;
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
}
#centerBody {
    background-color: #D0D0D0;
    display: table;
    margin: auto;
    height: 75%;
<<<<<<< HEAD
    width: 90%;
=======
    width: 75%;
    min-width: 650px;
>>>>>>> origin/master
    box-shadow: 0px 0px 20px #404040;
}
.tableRow {
    display: table-row;
}
.tableCell {
    display: table-cell;
<<<<<<< HEAD
    width: 25%;
    padding: 1em;
=======
    width: 50%;
    padding: 2em;
>>>>>>> origin/master
    vertical-align: middle;
}
button {
    color: #d1e0e0;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    border: 0;
    height: 75px;
    width: 80%;
    max-width: 250px;
    cursor: pointer;
    /*transition: all 0.2s ease-in-out;*/
}
<<<<<<< HEAD
=======
/*
button:hover {
    transform: scale(1.05);
}
*/
>>>>>>> origin/master

/*=============================WINGRAM============================*/
    #wingram {
        background-color: #419aa4;
        color: #a4d6da;
        font-family: 'BillabongW00-Regular', sans-serif;
        font-size: 3em;
        padding-top: 6px;
        transition: background-color 0.4s;
    }
    #wingram:hover {
        background-color: #3b8a91;
    }
    #winDiv {
        background-color: #4aacb5;
    }
/*================================================================*/
/*========================LOVELY BUTTON===========================*/
    #lovelybutton {
        background-color: #4da6ff;
        color: #e6f2ff;
        font-family: 'Pacifico', cursive;
        font-size: 1.7em;
        border-radius: 4px;
        box-shadow: 0px 3px 5px #003366;
        transition: all .2s;
    }
    #lovelybutton:hover {
        background-color: #1a8cff;
        color: #e6e6ff;
    }
    #lovelybutton:active {
        box-shadow: 1px 1px 5px #003366;
        transform: translateY(3px);
    }
    #lovelyDiv {
        background-color: #99ccff;
    }
/*================================================================*/
/*===========================1000 WORDS===========================*/
    #words {
        background-color: #267326;
        color: white;
        font-family: Arial;
        border-radius: 1px 80px 1px 80px;
        box-shadow: 2px 2px #194d19;
    }
    #wordsDIv {
        background-color: #339933;
    }
/*================================================================*/
/*===========================PIPELINE=============================*/
    #pipeline {
        background-color: #b21717;
        color: #f76f6f;
        font-family: 'Lato', sans-serif;
        box-shadow: 2px 2px #5a0c0c;
        transition: background-color 0.4s;
    }
    #pipeline:hover {
        background-color: #841313;
    }
    #pipeDiv {
        background-color: #ea6161;
    }
/*================================================================*/
/*===========================CALCULATOR===========================*/
    #calculadora {
        background-color: #c94c4c;
        color: #deeaee;
        text-shadow: 0.05em 0.05em 0.09em #9d2f2f;
        box-shadow: 0.2em 0.2em #e57366;
        font-family: 'Roboto', sans-serif;
    }
    #calculadora:hover {
        background-color: #c43b3b;
    }
    #calcDiv {
        background-color: #eea29a;
    }
/*================================================================*/
/*===========================EXERCISE 1===========================*/
    #exercicio1 {
        background-color: #ff6666;
        color: #ffb3b3;
        font-family: 'Nunito', sans-serif;
        transition: background-color 0.5s;
        transition: color 1s;
    }
    #exercicio1:hover {
        background-color: #e60000;
        color: #ffe6e6;
    }
    #exerDiv {
        background-color: #ff3333;
    }
/*================================================================*/
/*===========================EXERCISE 2===========================*/
    #exercicio2 {
        background-color: #666699;
        color: #d1d1e0;
        font-family: 'Roboto', sans-serif;
        transition: background-color 0.2s;
    }
    #exercicio2:hover {
        background-color: #47476b;
    }
    #exer2Div {
        background-color: #29293d;
    }
/*================================================================*/
/*=============================JQUERY=============================*/
    #jquery {
        background-color: #1a1a1a;
        color: #808080;
        font-family: Tahoma, Geneva, sans-serif;
        font-size: 1.2em;
        transition: background-color .3s;
        border-radius: 4px;
    }
    #jquery:hover {
        background-color: #0d0d0d;
		color: #a6a6a6;
    }
    #jqueryDiv {
        background-color: #262626;
    }
/*================================================================*/
.text {
    margin: 1em;
    color: #d1e0e0;
}