@import url('https://fonts.googleapis.com/css?family=Rancho');
@import url('https://fonts.googleapis.com/css?family=Pacifico');

html, body {
    background: linear-gradient(#66b3ff, #99ccff);
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    vertical-align: middle;
    justify-content: center;
}
h1 {
    font-family: 'Pacifico', cursive;
    color: #ccffff;
    text-shadow: 0px 0px 20px #80bfff;
    font-size: 5em;
    float: top;
    top: 0px;
    position: fixed;
    z-index: 3;
    visibility: hidden;
}
.cloud {
    filter: drop-shadow( 0px 0px 10px rgba(0, 0, 0, 0.3));
    opacity: 0.0;
}
#cloud1 {
    height: 70%;
    float: right;
    bottom: 0px;
    right: -1600px;
    position: fixed;
    z-index: 4;
}
#cloud2 {
    height: 65%;
    float: left;
    bottom: 60px;
    right: 1400px;
    position: fixed;
    z-index: 2;
}
#cloud3 {
    height: 55%;
    float: top;
    top: 10px;
    right: 1700px;
    position: fixed;
    z-index: 1;
}

button { 
    background-color: #4da6ff;
    color: #e6f2ff;
    font-family: Arial;
    font-size: 1.2em;
    border: 0;
    border-radius: 4px;
    height: 90px;
    width: 400px;
    display: block;
    margin: 10px;
    position: relative;
    box-shadow: 0px 3px 5px #003366;
    transition: all .2s;
    z-index: 100;
    opacity: 0.0;
}
button:hover {
    background-color: #1a8cff;
    color: #e6e6ff;
    
}
button:active {
    box-shadow: 1px 1px 5px #003366;
    transform: translateY(3px);
}
#text {
    opacity: 0.0;
}