body, html {
    background: white;
    height: 100%;
    width: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#container {
    background: white;
    height: 50%;
    width: 50%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#kanji-container {
    background: lightgrey;
    border-radius: 50em;
    height: 100%;
    width: 50%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#kanji {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11em;
    margin: 0;
}
#hits {
    color: cornflowerblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 5em;
    margin: 0;
}

#answers-container {
    background: white;
    height: 100%;
    width: 50%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.buttons {
    background: white;
    border-radius: 2em;
    width: 70%;
    padding: 3%;
    border: 0;

    color: darkslategrey;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;

    transition: all .2s;
}
.buttons:hover {
    background: indianred;
    color: white;
}

#result-container {
    width: 20%;

    opacity: 0.0;
}

#result {
    background: green;
    
    border-radius: 2em;
    width: 100%;
    padding: 5%;

    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
}